<launch>

  <node pkg="ios_streamer" type="pose_server.py" name="pose_server" output="screen">
   <param name="port_number" value="35601" type="int"/>
   <param name="pose_topic" value="ios_pose"/>
   <param name="coordinate_frame" value="odom"/>
  </node>

  <node pkg="ios_streamer" type="image_server.py" name="image_server" output="screen">
   <param name="port_number" value="35602" type="int"/>
   <param name="camera_name" value="camera"/>
 </node>
<node pkg="image_transport" type="republish" name="decompress_camera" args="in:=camera/image_raw compressed out:=camera/image_raw raw"/>
<node pkg="image_transport" type="republish" name="decompress_camera_lowres" args="in:=camera/image_lowres compressed out:=camera/image_lowres raw"/>

</launch>
